# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Ambientes virtuais
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Banco de dados
instance/
*.db
*.sqlite
*.sqlite3

# Testes
.pytest_cache/
.coverage
htmlcov/
.tox/
coverage.xml
*.cover

# Variáveis de ambiente
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Build
*.egg-info/
dist/
build/

